body{
	width: 770px;
	position: absolute;
	top: 5%;
	left: 50%;
	margin-left: -385px;
	font-family: Arial;
	font-size: 1.5em;
	color: black;
}

a:link{
	color:blue;
}
a:hover{
	color:red;	
}
a:visited{
	color:blue;	
}

.togreen a{
	color: green;	
}
h3{
	font-size: 1.1em;
}
h2{
	font-size: 1.3em;
}
h1{
	font-size: 1.5em;
}

p{
	margin-top: 0.5em;
}

.menu li{
	padding: 0.3em;
	margin-bottom: 0.7em;
	background-color: #BAFFF2;
}

.menu li:hover{
	background-color: #EF64EA;
}

#cabecera{
	height: 100px;
	position: relative;
	background-image:url("./cabecera.jpg");
	background-image:repeat;
	margin-bottom: 1%;
}
.cabec li{
	display: inline;
	color: green;
	padding-left: 5%;
	padding-right: 5%;
}

.cabec ul{
	position: relative;
	top: 50%;
	left: 10%;
	
}

#sb1{
	float:left;
	display: inline;
	background-color: #F9F3BC;
	width: 42%;
	margin: 1%;
	height: 100%;
}
#sb2{
	background-color: #F9F3BC;
	float: left;
	display:inline;
	width: 23%;
	margin: 1%;
	height: 100%;
}

#sb3{
	float:right;
	display: inline;
	background-color: #F9F3BC;
	width: 130px;
	margin: 1%;
	height: 100%;
}
.contenedor{
	padding-left:2%;
	padding-right:2%;
}

.contenedor article{
	position: relative;
	width: 90%;
}

.contenedor td{
	background-color: white;
	border-style: dotted;
	border-width: thin; 
	border-color: black;
}



.contenedor img{
	width: 90%;
	position: relative;
	left: 5%;
	margin-bottom: 5%;
	
}

#macrocont{
	display:block;
	position: relative;
	height: 1200px;
}


#piedpag{
	height: 50px;
	position: relative;
	background-color: #F9F3BC;
	margin-bottom:5%;
	margin-top:3%;	
}
