body{
	width: 770px;
	position: absolute;
	top: 5%;
	left: 50%;
	margin-left: -385px;
	font-family: Arial;
	color: black;
	font-size: 1.5em;
}

#cuadrorespuesta{
	width: 770px;
	border-style: solid;
	margin-bottom: 2%;
	background-color: #BAFAC5;
}

#cuadrorespuesta * {
	margin-left: 2%
}
